
.CoordinateInput {
    border: 1px solid #ddd;
    background: white;
    padding: 4px;
    border-radius: 10px;
    color: #333;
    position: absolute;
    right: 150px;
    top: 28px;
    width: 150px;
}
